<div class="header">
    <div class="title" (click)="toMain()">
        Minesweeper
    </div>

    <div class="right">
        <button class="btn" (click)="newGame()" *ngIf="isLogged">
            <span class="btn-icon">
                <i class="fa fa-plus"></i>
            </span>
            New Game
        </button>
        <button class="btn-small" (click)="openSettings()" *ngIf="isLogged">
            <span class="btn-icon">
                <i class="fa fa-cog"></i>
            </span>
        </button>
        <button class="btn" (click)="toLogin()" *ngIf="!isLogged">
            <span class="btn-icon">
                <i class="fa fa-sign-in"></i>
            </span>
            Sign in
        </button>
    </div>

</div>

<div class="error-container">
    <div *ngIf="error" class="error-message">
        <div class="error-header">
            <i class="fa fa-warning"></i>
            Error
        </div>
        <ul>
            <li *ngFor="let message of messages">
                {{ message }}
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>

<app-settings *ngIf="showSettings" (closeEvent)="closeSettings()" (saveValues)="updateSettings($event)"></app-settings>