.header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 20px;
}

.header {
    background-color: #24252a;
}

.title {
    display: flex;
    align-items: center;
    font-variant: small-caps;
    color: white;
    font-weight: 900;
}

button {
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    padding: 0;
}

.btn-icon {
    position: relative;
    top: 1px;
    font-weight: bold;
    line-height: 1;

    color: #3c763d;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background:#ffffff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    padding: 1px 15px 3px 2px;
    border-radius:50px;

    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    white-space: nowrap;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.btn:hover {
    background-color: #3bda3b;
    border-color: #61ac61;
}
