.field {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: wheat;
    border: none;
}

.blue {
    color: blue;
    font-weight: bold;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.dark-blue {
    color: darkblue;
    font-weight: bold;
}
.brown {
    color: brown;
    font-weight: bold;
}
.sea-blue {
    color: seagreen;
    font-weight: bold;
}
.black {
    color: black;
    font-weight: bold;
}
.grey {
    color: gray;
    font-weight: bold;
}
.bomb {
    color: black;
}
.boom {
    color: black;
    background-color: darkred;
}
.unclicked {
    background-color: beige;
    border: 1px solid brown;
}