.field {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #797676;
    border: none;
    margin: 2px;
    border-radius: 25%;
}

.blue {
    color: blue;
    font-weight: bold;
}
.green {
    color: green;
    font-weight: bold;
}
.red {
    color: red;
    font-weight: bold;
}
.dark-blue {
    color: darkblue;
    font-weight: bold;
}
.brown {
    color: brown;
    font-weight: bold;
}
.sea-blue {
    color: seagreen;
    font-weight: bold;
}
.black {
    color: black;
    font-weight: bold;
}
.grey {
    color: gray;
    font-weight: bold;
}
.bomb {
    color: black;
}
.boom {
    color: black;
    background-color: darkred;
}
.unclicked {
    background-color: #434445;

    box-shadow: inset 1px 1px 0px #676869,
                inset 2px 2px 0px #676869,
                inset 3px 3px 0px #676869;
}

.container {
    display: flex;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
}

.end-message {
    margin-top: 20px;
    color: white;
}